html, body {
    height: 100%;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(hsla(260, 60%, 2%, 0.95), hsla(192, 56%, 43%, 0.95));
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    font-size: 2em;
    font-weight: bold;
    color: #64fcf2;
    font-family: 'Iceland', monospace;
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 140px;
}

.sketch-box {
    border: solid #64fcf2 5px;
    border-radius: 5px;
    height: 630px;
    width: 630px;
}

#grid-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1; 
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; 
    background-color: white;
  }

.menu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid #64fcf2 5px;
    border-radius: 5px;
    height: 630px;
    width: 300px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #64fcf2;
    background-color: rgba(64, 78, 75, 0.453);
}

.color-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.color-square {
    border: solid #64fcf2 1px;
    border-radius: 3px;
    height: 36px;
    width: 84px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.color-alts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-right: 25px;

}

.color-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.color-options {
    display: flex;
    flex-direction: column;
    height: 56px;
    width: 240px;
    margin-top: 30px; 
    gap: 0px;
}

.toggle-options {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-top: 60px;
}

.text2 {
    display: block;
    color: #64fcf2;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    outline: none;
    border: 1px solid #64fcf2;
    border-radius: 3px;
    padding: 9px 15px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.text2.active {
    background-color: rgb(110, 117, 128);
}

.slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#range-slider {
    width: 240px;
    height: 2px;
    appearance: none;
    outline: none;
    border-radius: 2px;
    margin-top: 30px;
    background-color: #64fcf2;
}

#range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* adjust width as needed */
    height: 20px; /* adjust height as needed */
    background: linear-gradient(hsla(270, 2%, 19%, 0.95), hsla(192, 56%, 43%, 0.95)); /* replace with your desired color */
    cursor: pointer;
    border-radius: 50%; /* for circular shape */
}
  
#range-slider::-moz-range-thumb {
    width: 20px; /* adjust width as needed */
    height: 20px; /* adjust height as needed */
    background: #64fcf2; /* replace with your desired color */
    cursor: pointer;
    border-radius: 50%; /* for circular shape */
}

.grid-n-clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    gap: 15px;
}

.square {
    flex-grow: 1; /* Makes the square grow to fill the container */
    min-width: calc(100% / 11); /* Ensures that there are 16 squares in one row */
    min-height: calc(100% / 11); /* Ensures that there are 16 squares in one column */
    box-sizing: border-box;
    border: 0.03125rem solid #64fcf2;
  }

